In [3]:
## Challenge2 - python standard
import csv

In [5]:
with open('earthquakes.csv', newline='') as csvfile:
    reader = csv.reader(csvfile)
    headers = reader.__next__()
    for row in reader:
        magnitude = float(row[2])
        location = row[9]
        time = row[12]
        if '2016-08-04' in time:
            print(location, time)

California 2016-08-04 00:01:38
Alaska 2016-08-04 00:02:28
Hawaii 2016-08-04 00:03:09
California 2016-08-04 00:18:31
Alaska 2016-08-04 00:18:59
California 2016-08-04 00:19:19
California 2016-08-04 00:22:00
Alaska 2016-08-04 00:22:46
California 2016-08-04 00:27:32
Alaska 2016-08-04 00:29:45
Alaska 2016-08-04 00:33:11
Hawaii 2016-08-04 00:38:35
Alaska 2016-08-04 00:39:58
California 2016-08-04 00:44:29
California 2016-08-04 00:45:41
Alaska 2016-08-04 00:48:13
Utah 2016-08-04 00:51:53
California 2016-08-04 00:55:35
California 2016-08-04 00:58:19
California 2016-08-04 00:58:32
California 2016-08-04 01:00:23
Alaska 2016-08-04 01:02:01
California 2016-08-04 01:02:37
California 2016-08-04 01:03:57
California 2016-08-04 01:04:09
California 2016-08-04 01:05:01
California 2016-08-04 01:06:02
California 2016-08-04 01:06:29
California 2016-08-04 01:06:41
California 2016-08-04 01:07:03
California 2016-08-04 01:09:07
California 2016-08-04 01:11:34
California 2016-08-04 01:13:40
Alaska 2016-08-04 01:13:55
California 2016-08-04 01:14:21
California 2016-08-04 01:14:41
California 2016-08-04 01:15:25
California 2016-08-04 01:16:03
California 2016-08-04 01:16:20
California 2016-08-04 01:17:25
California 2016-08-04 01:18:50
California 2016-08-04 01:21:00
California 2016-08-04 01:21:21
California 2016-08-04 01:21:44
California 2016-08-04 01:22:33
California 2016-08-04 01:22:58
California 2016-08-04 01:23:20
California 2016-08-04 01:24:18
California 2016-08-04 01:25:35
California 2016-08-04 01:26:23
California 2016-08-04 01:27:05
California 2016-08-04 01:28:00
Alaska 2016-08-04 01:28:41
California 2016-08-04 01:28:47
Alaska 2016-08-04 01:29:07
California 2016-08-04 01:29:15
California 2016-08-04 01:29:36
California 2016-08-04 01:30:57
California 2016-08-04 01:32:54
California 2016-08-04 01:33:04
California 2016-08-04 01:34:23
California 2016-08-04 01:34:45
California 2016-08-04 01:35:40
California 2016-08-04 01:36:14
California 2016-08-04 01:38:16
California 2016-08-04 01:38:37
California 2016-08-04 01:39:18
California 2016-08-04 01:39:54
California 2016-08-04 01:41:25
California 2016-08-04 01:42:36
Alaska 2016-08-04 01:44:47
California 2016-08-04 01:45:07
California 2016-08-04 01:49:17
California 2016-08-04 01:49:51
California 2016-08-04 01:50:44
California 2016-08-04 01:51:36
California 2016-08-04 01:53:00
California 2016-08-04 01:53:29
Alaska 2016-08-04 01:54:35
Nicaragua 2016-08-04 01:57:02
California 2016-08-04 01:59:03
California 2016-08-04 02:01:42
California 2016-08-04 02:02:59
Alaska 2016-08-04 02:06:00
California 2016-08-04 02:08:08
California 2016-08-04 02:08:51
Alaska 2016-08-04 02:09:55
California 2016-08-04 02:10:07
California 2016-08-04 02:11:19
Utah 2016-08-04 02:11:29
Alaska 2016-08-04 02:12:10
California 2016-08-04 02:13:42
Alaska 2016-08-04 02:14:33
California 2016-08-04 02:20:40
California 2016-08-04 02:21:09
Alaska 2016-08-04 02:22:15
Alaska 2016-08-04 02:22:52
California 2016-08-04 02:23:06
Alaska 2016-08-04 02:25:06
California 2016-08-04 02:25:54
California 2016-08-04 02:31:35
Alaska 2016-08-04 02:34:14
California 2016-08-04 02:34:56
California 2016-08-04 02:35:45
California 2016-08-04 02:36:34
Canada 2016-08-04 02:37:10
California 2016-08-04 02:40:07
Alaska 2016-08-04 02:40:18
California 2016-08-04 02:44:47
California 2016-08-04 02:45:39
California 2016-08-04 02:47:16
California 2016-08-04 02:49:26
California 2016-08-04 02:50:05
California 2016-08-04 02:51:18
Alaska 2016-08-04 02:52:13
California 2016-08-04 02:53:06
Montana 2016-08-04 02:56:29
California 2016-08-04 02:59:35
California 2016-08-04 03:01:04
California 2016-08-04 03:03:06
California 2016-08-04 03:11:47
California 2016-08-04 03:13:40
California 2016-08-04 03:20:16
California 2016-08-04 03:23:12
Alaska 2016-08-04 03:27:30
California 2016-08-04 03:29:19
California 2016-08-04 03:29:46
California 2016-08-04 03:30:03
Alaska 2016-08-04 03:31:08
California 2016-08-04 03:31:31
California 2016-08-04 03:33:59
California 2016-08-04 03:35:51
California 2016-08-04 03:38:15
California 2016-08-04 03:38:18
Montana 2016-08-04 03:39:06
California 2016-08-04 03:42:16
California 2016-08-04 03:49:23
California 2016-08-04 03:50:05
California 2016-08-04 03:59:35
Alaska 2016-08-04 04:01:26
California 2016-08-04 04:06:38
Hawaii 2016-08-04 04:07:06
Alaska 2016-08-04 04:11:23
California 2016-08-04 04:12:35
California 2016-08-04 04:21:12
California 2016-08-04 04:24:45
California 2016-08-04 04:25:22
California 2016-08-04 04:28:12
California 2016-08-04 04:30:13
California 2016-08-04 04:31:45
California 2016-08-04 04:33:54
Alaska 2016-08-04 04:34:06
California 2016-08-04 04:34:39
California 2016-08-04 04:48:24
Alaska 2016-08-04 04:48:38
California 2016-08-04 04:52:58
California 2016-08-04 04:55:02
Papua New Guinea 2016-08-04 05:01:21
California 2016-08-04 05:05:49
California 2016-08-04 05:10:55
California 2016-08-04 05:12:06
California 2016-08-04 05:12:16
California 2016-08-04 05:13:16
California 2016-08-04 05:14:38
California 2016-08-04 05:23:29
Puerto Rico 2016-08-04 05:31:04
California 2016-08-04 05:34:06
California 2016-08-04 05:34:08
California 2016-08-04 05:37:32
Nevada 2016-08-04 05:41:12
California 2016-08-04 05:45:49
California 2016-08-04 05:46:17
California 2016-08-04 05:51:52
Puerto Rico 2016-08-04 05:55:51
California 2016-08-04 05:57:39
Nevada 2016-08-04 06:00:27
Alaska 2016-08-04 06:05:28
Alaska 2016-08-04 06:10:36
British Virgin Islands 2016-08-04 06:13:18
California 2016-08-04 06:13:52
Alaska 2016-08-04 06:16:15
California 2016-08-04 06:22:50
California 2016-08-04 06:22:59
California 2016-08-04 06:23:02
California 2016-08-04 06:24:03
Alaska 2016-08-04 06:35:21
California 2016-08-04 06:36:23
California 2016-08-04 06:38:01
Alaska 2016-08-04 06:38:13
California 2016-08-04 06:39:14
Alaska 2016-08-04 06:43:22
Alaska 2016-08-04 06:57:21
California 2016-08-04 06:58:14
California 2016-08-04 07:03:59
Dominican Republic 2016-08-04 07:06:49
Mexico 2016-08-04 07:08:24
Nevada 2016-08-04 07:15:00
California 2016-08-04 07:15:24
Alaska 2016-08-04 07:18:23
California 2016-08-04 07:25:09
California 2016-08-04 07:27:12
California 2016-08-04 07:30:31
Montana 2016-08-04 07:31:16
Alaska 2016-08-04 07:37:10
California 2016-08-04 07:44:35
Alaska 2016-08-04 07:46:57
Indonesia 2016-08-04 07:49:45
Wyoming 2016-08-04 07:59:16
Alaska 2016-08-04 08:00:00
Nevada 2016-08-04 08:04:27
California 2016-08-04 08:18:52
California 2016-08-04 08:21:01
California 2016-08-04 08:25:36
California 2016-08-04 08:29:02
California 2016-08-04 08:31:04
Alaska 2016-08-04 08:40:03
California 2016-08-04 08:42:31
California 2016-08-04 08:43:17
California 2016-08-04 08:43:21
Alaska 2016-08-04 08:47:50
California 2016-08-04 08:50:00
Alaska 2016-08-04 08:51:36
Nevada 2016-08-04 08:53:42
California 2016-08-04 08:53:50
California 2016-08-04 08:53:54
Hawaii 2016-08-04 08:54:46
Alaska 2016-08-04 09:01:02
Alaska 2016-08-04 09:15:07
California 2016-08-04 09:15:17
California 2016-08-04 09:16:39
Nevada 2016-08-04 09:18:13
Nevada 2016-08-04 09:21:32
California 2016-08-04 09:30:11
California 2016-08-04 09:35:06
California 2016-08-04 09:36:41
California 2016-08-04 09:39:18
California 2016-08-04 09:39:27
California 2016-08-04 09:39:35
Alaska 2016-08-04 09:46:39
Nevada 2016-08-04 10:00:41
Canada 2016-08-04 10:07:19
California 2016-08-04 10:09:37
Alaska 2016-08-04 10:13:51
California 2016-08-04 10:14:26
Argentina 2016-08-04 10:15:12
Nevada 2016-08-04 10:15:55
Alaska 2016-08-04 10:23:38
California 2016-08-04 10:26:19
California 2016-08-04 10:37:42
Indonesia 2016-08-04 10:48:22
Alaska 2016-08-04 10:51:51
California 2016-08-04 10:57:22
Northern Mariana Islands 2016-08-04 11:06:00
Alaska 2016-08-04 11:06:32
Nevada 2016-08-04 11:07:25
Hawaii 2016-08-04 11:11:50
Alaska 2016-08-04 11:17:15
Alaska 2016-08-04 11:29:29
California 2016-08-04 11:32:15
California 2016-08-04 11:36:25
California 2016-08-04 11:39:31
Nevada 2016-08-04 11:40:30
California 2016-08-04 11:40:53
California 2016-08-04 11:41:29
California 2016-08-04 11:41:34
Nevada 2016-08-04 11:41:40
Alaska 2016-08-04 11:42:19
California 2016-08-04 11:42:50
California 2016-08-04 11:43:30
California 2016-08-04 11:47:07
Alaska 2016-08-04 11:48:41
California 2016-08-04 11:53:52
California 2016-08-04 11:55:23
California 2016-08-04 11:58:02
Alaska 2016-08-04 12:00:31
Nevada 2016-08-04 12:07:19
Nevada 2016-08-04 12:10:07
Alaska 2016-08-04 12:11:46
California 2016-08-04 12:13:31
Alaska 2016-08-04 12:20:50
California 2016-08-04 12:23:14
Japan 2016-08-04 12:24:33
California 2016-08-04 12:27:39
California 2016-08-04 12:27:59
California 2016-08-04 12:33:19
Alaska 2016-08-04 12:48:53
Alaska 2016-08-04 13:01:44
California 2016-08-04 13:02:16
Alaska 2016-08-04 13:02:59
California 2016-08-04 13:15:18
California 2016-08-04 13:19:15
Afghanistan 2016-08-04 13:20:43
Nevada 2016-08-04 13:29:13
Alaska 2016-08-04 13:29:58
Nevada 2016-08-04 13:36:15
California 2016-08-04 13:36:47
Wyoming 2016-08-04 14:00:53
Alaska 2016-08-04 14:04:36
Nevada 2016-08-04 14:04:40
Wyoming 2016-08-04 14:13:57
California 2016-08-04 14:19:59
California 2016-08-04 14:21:27
Alaska 2016-08-04 14:28:59
Nevada 2016-08-04 14:30:10
California 2016-08-04 14:35:37
Alaska 2016-08-04 14:39:19
California 2016-08-04 14:44:12
California 2016-08-04 14:49:21
California 2016-08-04 15:00:06
Alaska 2016-08-04 15:00:09
California 2016-08-04 15:00:26
Nevada 2016-08-04 15:14:47
Alaska 2016-08-04 15:24:53
Alaska 2016-08-04 15:26:16
California 2016-08-04 15:45:06
California 2016-08-04 15:52:34
Nevada 2016-08-04 15:53:10
California 2016-08-04 15:58:14
Alaska 2016-08-04 16:09:34
Alaska 2016-08-04 16:23:05
California 2016-08-04 16:24:31
California 2016-08-04 16:32:59
California 2016-08-04 16:33:04
California 2016-08-04 16:45:16
Alaska 2016-08-04 16:49:31
California 2016-08-04 16:50:26
California 2016-08-04 16:53:46
Alaska 2016-08-04 16:57:38
Alaska 2016-08-04 16:58:24
Alaska 2016-08-04 16:58:48
California 2016-08-04 17:00:34
Canada 2016-08-04 17:01:52
Alaska 2016-08-04 17:02:10
California 2016-08-04 17:10:01
California 2016-08-04 17:10:19
California 2016-08-04 17:12:56
Alaska 2016-08-04 17:22:30
California 2016-08-04 17:29:14
California 2016-08-04 17:29:23
California 2016-08-04 17:30:10
California 2016-08-04 17:31:22
Tajikistan 2016-08-04 17:34:41
Tajikistan 2016-08-04 17:36:45
Alaska 2016-08-04 17:51:31
Tajikistan 2016-08-04 17:54:59
Alaska 2016-08-04 18:15:24
Canada 2016-08-04 18:15:51
California 2016-08-04 18:17:55
Nevada 2016-08-04 18:22:42
South Georgia and the South Sandwich Islands 2016-08-04 18:27:36
California 2016-08-04 18:31:38
Canada 2016-08-04 18:39:01
Mexico 2016-08-04 18:43:54
Alaska 2016-08-04 18:51:05
Alaska 2016-08-04 18:53:14
California 2016-08-04 19:00:14
Alaska 2016-08-04 19:05:35
California 2016-08-04 19:05:52
California 2016-08-04 19:06:03
Alaska 2016-08-04 19:12:49
Mexico 2016-08-04 19:13:50
Nevada 2016-08-04 19:16:01
Nevada 2016-08-04 19:20:35
Alaska 2016-08-04 19:25:52
Alaska 2016-08-04 19:34:48
California 2016-08-04 19:35:24
Montana 2016-08-04 19:38:42
California 2016-08-04 19:42:14
Tajikistan 2016-08-04 19:42:17
California 2016-08-04 19:50:18
Alaska 2016-08-04 19:53:43
Philippines 2016-08-04 20:02:14
Oklahoma 2016-08-04 20:13:07
California 2016-08-04 20:19:32
Alaska 2016-08-04 20:26:58
Alaska 2016-08-04 20:30:19
California 2016-08-04 20:57:54
British Virgin Islands 2016-08-04 20:58:47
Alaska 2016-08-04 21:00:31
Vanuatu 2016-08-04 21:03:50
British Virgin Islands 2016-08-04 21:03:56
California 2016-08-04 21:07:25
Utah 2016-08-04 21:11:29
California 2016-08-04 21:12:22
Puerto Rico 2016-08-04 21:13:41
California 2016-08-04 21:15:41
Alaska 2016-08-04 21:18:54
California 2016-08-04 21:28:43
Alaska 2016-08-04 21:32:17
California 2016-08-04 21:47:11
Alaska 2016-08-04 21:47:17
California 2016-08-04 21:52:00
California 2016-08-04 21:52:01
California 2016-08-04 21:52:45
California 2016-08-04 21:54:10
California 2016-08-04 21:56:01
California 2016-08-04 22:02:28
California 2016-08-04 22:05:04
California 2016-08-04 22:06:25
Alaska 2016-08-04 22:07:36
Alaska 2016-08-04 22:14:24
Nevada 2016-08-04 22:18:10
Alaska 2016-08-04 22:19:47
California 2016-08-04 22:21:46
California 2016-08-04 22:29:59
California 2016-08-04 22:33:43
Alaska 2016-08-04 22:56:03
Nevada 2016-08-04 23:05:19
Hawaii 2016-08-04 23:05:45
Nevada 2016-08-04 23:28:40
Wyoming 2016-08-04 23:30:17
Japan 2016-08-04 23:30:45
Nevada 2016-08-04 23:42:11
East Timor 2016-08-04 23:44:35
California 2016-08-04 23:50:18
California 2016-08-04 23:50:37
California 2016-08-04 23:53:15
California 2016-08-04 23:53:53
California 2016-08-04 23:56:38
California 2016-08-04 23:57:55

In [6]:
## Challenge2 - with pandas 

import pandas as pd

pd.read_csv('earthquakes.csv')

,id,impact.gap,impact.magnitude,impact.significance,location.depth,location.distance,location.full,location.latitude,location.longitude,location.name,time.day,time.epoch,time.full,time.hour,time.minute,time.month,time.second,time.year
0,nc72666881,122.00,1.43,31,15.12,0.10340,"13km E of Livermore, California",37.672333,-121.619000,California,27,1469593183550,2016-07-27 00:19:43,0,19,7,43,2016
1,us20006i0y,30.00,4.90,371,97.07,1.43900,"58km WNW of Pakokku, Burma",21.514600,94.572100,Burma,27,1469593228220,2016-07-27 00:20:28,0,20,7,28,2016
2,nc72666891,249.00,0.06,0,4.39,0.02743,"12km SE of Mammoth Lakes, California",37.576500,-118.859167,California,27,1469593897150,2016-07-27 00:31:37,0,31,7,37,2016
3,nc72666896,122.00,0.40,2,1.09,0.02699,"6km SSW of Mammoth Lakes, California",37.595833,-118.994833,California,27,1469594144150,2016-07-27 00:35:44,0,35,7,44,2016
4,nn00553447,113.61,0.30,1,7.60,0.06300,"16km SSE of Mogul, Nevada",39.377500,-119.845000,Nevada,27,1469594519667,2016-07-27 00:41:59,0,41,7,59,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8389,nc72685246,47.00,2.42,90,4.85,0.06167,"22km ENE of Soledad, California",36.515499,-121.099831,California,25,1472181541970,2016-08-25 23:19:01,23,19,8,1,2016
8390,ak13879193,0.00,1.40,30,50.00,0.00000,"5km ESE of Big Lake, Alaska",61.498400,-149.862700,Alaska,25,1472181558000,2016-08-25 23:19:18,23,19,8,18,2016
8391,nc72685251,165.00,1.06,17,1.73,0.02042,"6km WNW of The Geysers, California",38.805000,-122.821503,California,25,1472182205600,2016-08-25 23:30:05,23,30,8,5,2016
8392,ci37672328,103.00,1.55,37,29.25,0.06980,"6km NNW of Chatsworth, CA",34.308000,-118.635333,California,25,1472182571880,2016-08-25 23:36:11,23,36,8,11,2016
8393,ci37672360,99.00,0.89,12,8.29,0.02562,"14km NE of Yucaipa, CA",34.119167,-116.933667,California,25,1472183881830,2016-08-25 23:58:01,23,58,8,1,2016

In [15]:
df = pd.read_csv('earthquakes.csv')

# filtering for the more repeated cities
df.groupby(['location.name']).size().reset_index(name = 'most active locations')

                      location.name  most active locations
0                       Afghanistan                     10
1                            Alaska                   2195
2                          Anguilla                      1
3                         Argentina                     11
4                           Arizona                      3
..                              ...                    ...
113                      Washington                    171
114                   West Virginia                      1
115  Western Indian-Antarctic Ridge                      1
116                  Western Xizang                      2
117                         Wyoming                     37

[118 rows x 2 columns]

In [20]:
# sorting the most actives cities
cities = df.groupby(['location.name']).size().reset_index(name = 'most active locations')

cities.sort_values(by = ['most active locations'], ascending = False)

                     location.name  most active locations
13                      California                   3609
1                           Alaska                   2195
55                          Nevada                    712
37                          Hawaii                    225
113                     Washington                    171
..                             ...                    ...
57                   New Hampshire                      1
91                 South of Africa                      1
92                 South of Panama                      1
9    Azores-Cape St. Vincent Ridge                      1
59                        New York                      1

[118 rows x 2 columns]

In [22]:
# top 10 cities where earthquakes are more active
cities_ok = cities.sort_values(by = ['most active locations'], ascending = False)
cities_ok.head(10)

              location.name  most active locations
13               California                   3609
1                    Alaska                   2195
55                   Nevada                    712
37                   Hawaii                    225
113              Washington                    171
83              Puerto Rico                    156
11   British Virgin Islands                     98
54                  Montana                     96
72                   Oregon                     81
71                 Oklahoma                     66

In [24]:
## Challenge3 - print as csv
cities_ok.to_csv('cities_more_active.csv')